<mat-toolbar class="d-flex justify-content-end">
  <button mat-button>
    <mat-icon (click)="onParticipantButtonClick()">people</mat-icon>
  </button>
  <button mat-button>
    <mat-icon (click)="onCameraButtonClick()">camera_alt</mat-icon>
  </button>
  <button mat-button>
    <mat-icon (click)="onMicrophoneButtonClick()">mic</mat-icon>
  </button>
  <button mat-button>
    <mat-icon (click)="onShareScreenButtonClick()">screen_share</mat-icon>
  </button>
  <button mat-flat-button color="warn" (click)="onLeaveButtonClick()">Leave</button>
</mat-toolbar>


<div #root></div>
